<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222078554208-m785amb316mqpbvb5fkpef50unu73r52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222078554208-m785amb316mqpbvb5fkpef50unu73r52</string>
	<key>API_KEY</key>
	<string>AIzaSyBHqc_rsEOr6sZCznYSBq4cfahxu5jKP0o</string>
	<key>GCM_SENDER_ID</key>
	<string>222078554208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Everybody-Knows.Simple-VK-Client</string>
	<key>PROJECT_ID</key>
	<string>simple-vk-client</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-vk-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222078554208:ios:3c80f587d89f796b3af305</string>
</dict>
</plist>